<div class="row my-4 justify-content-center align-items-center">
  <div class="col-md-4">
    <div class="form-group">
      <label for="">Select a Pokemon</label>
      <select class="form-control" #selectPokemons>
        <option *ngFor="let pokemon of pokemons">
          {{ pokemon.name }}
        </option>
      </select>
      <button
        type="button"
        class="btn btn-secondary my-2 btn-block"
        (click)="showPokemon()"
      >
        View Pokemon
      </button>
    </div>
  </div>
  <div class="col-md-8">
    <ng-container *ngIf="namePokemon != ''; else elseTemplate">
      <app-card-poke nameP="{{ namePokemon }}"></app-card-poke>
      <div class="text-center">
        <a
          [routerLink]="['/pokedex/pokemons/search/', namePokemon]"
          class="btn btn-sm btn-primary animate__animated animate__pulse"
          >Show Details Pokemon</a
        >
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <h1 class="text-center h6 my-4">You have not selected a pokemon</h1>
    </ng-template>
  </div>
</div>
